exportPattern("^[[:alpha:]]+")
importFrom(stats, "as.formula", "lm", "filter", "ppoints", "qbeta", "quantile")
importFrom(utils, "combn")
importFrom(rlang, "enquo", ":=", "quo_is_null")
importFrom(ggplot2, "aes", "guide_legend")
importFrom(dplyr, "%>%", ".data")
importFrom(graphics, "abline", "axis", "par", "points")

